# Dependencies
node_modules/

# Logs
hs_err_pid*.log
*.log
npm-debug.*
yarn-debug.*

# OS
.DS_Store

# IDEs
.idea/
.vscode/

# Environment
.env
backend/.env
frontend/.env.local

# Expo
frontend/.expo/
frontend/dist/
frontend/web-build/

# Native folders (generated)
frontend/ios/
frontend/android/
